<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width">

    <link href="/css/min.css" rel="stylesheet">
</head>

<body class="Layout">
    <div class="Layout__head">
        <a href="/" class="Logo">Лаборатория программирования</a>
        <div class="Menu">
            <div class="Menu__item"><a href="/olymp.html" class="Menu__link">Турниры</a></div>
            <div class="Menu__item"><a href="/groups.html" class="Menu__link">Группы</a></div>
            <div class="Menu__item"><a href="/ejudge.html" class="Menu__link">Задачи</a></div>
            <div class="Menu__item"><a href="/olymp/ejik/2014a.html" class="Menu__link">Ёjik-2014</a></div>
        </div>
    </div>

    <div class="Layout__hr"></div>

    <div class="Layout__body">@Model.Body</div>
</body>
</html>
